body[data-theme="dark"] {

   @import '/src/scss/dark-slider.scss';

   $color1: #8C8C8C;
   $color2: #6d6d6d;
   $color3: #494949;
   $color4: #5b5b5b;
   $color5: #919191;

   .slider-tab {
      background-color: $color1;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #3C342C;
      opacity: 0.8;
   }

.navbar {
	background-color: transparentize($color3, .4);
}

   .slider-image {
      border: 5px solid $color1;
   }

   .language {
      background-color: $color3;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: $color3;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  $color2;
      }
      .card {
         background: $color2;
         color: white;
      }
   }

   #portfolio {
      background: $color4;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: $color2;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: $color4;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: $color5 !important;
         color: white;
      }

      .main-badge {
         background: $color5 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: $color5 !important;
      }
      @media only screen and (max-width: 1169px) {
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: $color4;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
